<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="./header.css">
</head>
<body>
   <header class="header">
    <div class="logo">
        <h2>Logo</h2>
    </div>
    <div class="nav">
        <ul class="ul">
            <li> <a href="/"> Home</a></li>
            <li> <a href="/register"> Register</a></li>
            <li> <a href="/login"> Login</a></li>
            <li> <a href="/private"> Private</a></li>
            <li> <a href="/logout"> Logout</a></li>
            <li> <a href="/about"> About</a></li>
        </ul>
    </div>

   </header>
</body>
</html>